.authentication-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;

    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        width: 380px;
        padding: 10px;
    }
}
